.cardSec{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 30px;
    padding-bottom: 100px;
    padding-top: 40px;

    background: linear-gradient(to bottom,#ca0101 50%, #0B0B0B);
}