
.card{
  height: 380px;
  width: 290px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(to bottom,rgba(126, 0, 15, 0.261) , #00000029);
  border-radius: 10px;
}
.name{
  font-size: 30px;
  margin-top: 20px;
  color:gold
}
.cardImg{
  border-radius: 10px;
}