
.header{
  font-size: 50px;
  font-weight: 1000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  background: linear-gradient(to bottom,rgb(138, 0, 0) 50% , #8f0000);
  padding: 10px;
}
.marvel{
  color:#d9dadb;
}
