
.header{
  font-size: 50px;
  font-weight: 1000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(8, 8, 8);
  
  padding: 20px;
  color:#89002b;
}
.marvel{
  color:#d9dadb;
}
