*{
  outline: auto;
}

body,html,#root{
  margin: 0;
}

.gameRule{
  font-size: 20px;
  padding: 10px;
}

.score{
  font-size: 20px;
  padding: 10px;
}

.upperPanel{
  display: flex;
  justify-content: space-between;
}